NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_PROJECT_ID=
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_SUPPORT_URL=https://t.me/katemode
NEXT_PUBLIC_ALFA_RKO_URL=https://t.me/alfa_bankExc
NEXT_PUBLIC_TBANK_URL=https://tbank.ru/baf/7Hj0pbGrT02
NEXT_PUBLIC_MFO_URL=https://lead.testlead.org/ref/4512D1F
NEXT_PUBLIC_TBANK_RKO_URL=
ADMIN_TELEGRAM_IDS=5258394536

